* {
	margin: 0;
	padding: 0;
	list-style: none;
}

html,
body {
	position: relative;
	height: 100%;
}

body {
	/* background: #eee; */
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide>img {
	width: 100%;
	height: 100%;
}

.big {
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-attachment: fixed;
	overflow: hidden;
}


.list {
	width: 5.43rem;
	height: 52%;
	margin: 34% auto 0;
	overflow: hidden;
}

.list li {
	width: 5.43rem;
	height: 11%;
	background-color: #f1f0f1;
	border-radius: 0.37rem;
	margin-top: 0.2rem;
	position: relative;
}

.list li .list_box {
	display: flex;
	align-items: center;
	height: 100%;
}

.list li .list_box>img {
	width: 0.35rem;
	height: 0.35rem;
	display: block;
	margin-left: 0.38rem;
}

.list li .xiala {
	width: 100%;
	background: red;
	position: absolute;
	top: 0.74rem;
	left: 0;
	z-index: 10;
	height: 3rem;
}

.list li input {
	width: 4.3rem;
	font-size: 0.24rem;
	color: #999999;
	margin-left: 0.29rem;
	outline: none;
	background: none;
	border: 0px;
	height: 100%;
}

input::-webkit-input-placeholder {
	color: #999999;
	font-size: 0.24rem;
}

.list li p {
	width: 4.3rem;
	font-size: 0.24rem;
	color: #999999;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 !important;
}

.list li p select {
	margin-left: 0.29rem;
	width: 94%;
	outline: none;
	background: none;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0px;
	background: url('../img/xiala.png') no-repeat scroll right center transparent;
	background-size: 4% 31%;
	padding-right: 0.14rem;
	font-size: 0.24rem;
	color: #999999;
}

select::-ms-expand {
	display: none;
}

.list li p>img {
	width: 0.15rem;
	height: 0.09rem;
}

.submit_box {
	width: 5.43rem;
	margin: 0.45rem auto 0;
	height: 7%;
}

.submit_box img {
	width: 100%;
	height: 100%;
}

.success {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}
.succ_big{
	width: 6.25rem;
	height: 10rem;
	top: 0;
	bottom: 0;
	left: 0.625rem;
	 margin: auto; 
	 position: absolute;
	 display: flex;
	 justify-content: space-between;
	 flex-direction: column;
}
.success .succ_box {
	width: 100%;
	height: 9rem;
	/*left: 0.625rem;*/
	/* margin: auto; */
	overflow: hidden;
	background: url('../img/success.png') no-repeat;
	background-size: 100% 100%;
}

.success .succ_box .box_one {
	font-size: 0.56rem;
	color: #0a77ca;
	text-align: center;
	/* margin-top: 3.24rem; */
}

.success .succ_box .box_two {
	font-size: 0.28rem;
	color: #666666;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 55%;
	margin: 0.34rem auto 0;
}
.success .succ_box .box_two>.box_xian{
	width: 0.4rem;
	height: 1px;
	background: #a0a0a0;
}
.success .succ_box .ok {
	width: 3rem;
	height: 0.95rem;
	display: block;
	margin: auto;
	margin-top: 0.5rem;
}
.success .succ_box .erwei{
	width: 1.83rem;
	/* height: 1.83rem; */
	display: block;
	margin: auto;
	margin-top: 0.38rem;
}
.success .yinc{
	width: 100%;
	text-align: center;
	display: block;
	/*margin-top: 0.5rem;*/
}
.success .yinc img{
	width: 0.73rem;
}
.rule {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
}

.rule .rule_box {
	/* width: 5.89rem; */
	width: 5.27rem;
	height: 4.77rem;
	background-color: #ffffff;
	border-radius: 0.16rem;
	/* margin: 0.4rem auto 0; */
	top: 0;
	bottom: 0;
	left: 1.115rem;
	margin: auto;
	overflow: hidden;
	position: absolute;
	background: url('../img/xiaobei.png') no-repeat;
	background-size: 100% 100%;
}

.rule_box div {
	font-size: 0.34rem;
	font-weight: normal;
	font-stretch: normal;
	line-height: 0.32rem;
	color: #000000;
	text-align: center;
	margin-top: 2.5rem;
}

.rule_box img {
	width: 2.56rem;
	height: 0.73rem;
	display: block;
	margin: 0.69rem auto 0;
}

.fancybox-lock-test {
	overflow-y: hidden;
	/*为了兼容普通PC的浏览器*/
	height: 100%;
	position: fixed;
	left: 1.035rem;
}
